<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wz.jetpackdemo">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.wz.jetpackdemo.permission.ACCESS_BOOK_SERVICE" />

    <permission
        android:name="com.wz.jetpackdemo.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />
    <application
        android:name=".JetpackApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jetpackdemo">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.user.UserDetailActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.wz.task1" />
        <activity
            android:name=".ui.StockActivity"
            android:launchMode="singleTask"
            android:process="com.wz.jetpackdemo.remote"
            android:taskAffinity="com.wz.task1">
            <intent-filter>
                <action android:name="com.wz.jetpackdemo.a" />
                <action android:name="com.wz.jetpackdemo.b" />

                <category android:name="com.wz.jetpackdemo.c" />
                <category android:name="com.wz.jetpackdemo.d" />
                <category android:name="android.intent.category.DEFAULT" />

                <!--<data android:scheme="content" android:mimeType="text/plain" />-->
                <!--<data android:scheme="file" android:mimeType="image/*" />-->
                <data android:mimeType="image/*" />
                <data
                    android:mimeType="video/mpeg"
                    android:scheme="http" />
                <!--<data android:scheme="http" android:mimeType="audio/mpeg" />-->
            </intent-filter>
        </activity>

        <service
            android:name=".AIDLService"
            android:process=":aidl">
            <intent-filter>
                <action android:name="com.wz.jetpackdemo.aidl" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name=".MessengerService"
            android:process=":messenger" />

        <provider
            android:authorities="com.wz.jetpackdemo.provider"
            android:name=".contentprovider.BookProvider"
            android:permission="com.wz.PROVIDER"
            android:process=":provider"/>

    </application>

</manifest>